[user]
	email = javier.montero@cognizant.com
	name = Javier Montero
[color]
	ui = true
[core]
	pager = less
	autocrlf = false
	safecrlf = false
[status]
	showuntrackedfiles = all
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	s = difftool HEAD^ HEAD
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ld = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
	ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	bdiff = "!bdiff() { git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative \"$1\"...\"$2\" -X; }; bdiff"
	mlog = "!mlog() { if [ \"$#\" -eq 1 ]; then git log --stat \"${@: -1}^..${@: -1}\"; else git log ${@:1:$#-1} \"${@: -1}^..${@: -1}\";fi; }; mlog"
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[mergetool]
	keepBackup = false
